{% extends "admin/change_list.html" %}

{% block result_list %}
{{ block.super }}
<script type="text/javascript">
(function($) {
    $('.js-cms-pagetree-dropdown-trigger').click(function(e) {
        var triggerCls = '.js-cms-pagetree-dropdown-trigger';
        var containerCls = '.js-cms-pagetree-dropdown-menu';
        var openCls = 'cms-pagetree-dropdown-menu-open';
        var triggers;
        var containers;
        var index;

        e.preventDefault();
        e.stopImmediatePropagation();

        triggers = $(triggerCls);
        containers = $(containerCls);
        index = triggers.index(this);
        container = containers.eq(index);

        // cancel if opened tooltip is triggered again
        if (container.hasClass(openCls)) {
            containers.removeClass(openCls);
            return false;
        }

        // otherwise show the dropdown
        containers.removeClass(openCls)
        container.addClass(openCls);
    });
})(django.jQuery);
</script>
{% endblock %}
