{% extends "cms_articles/base.html" %}
{% load cms_articles thumbnail %}

{% block page_title %}{% article_attribute "page_title" %}{% endblock %}
{% block meta_description %}{% article_attribute "meta_description" %}{% endblock %}
{% block breadcrumb %}{% show_article_breadcrumb %}{% endblock %}

{% block content %}

<h1 class="article-title">{% block title %}{% article_attribute "title" %}{% endblock %}</h1>

{% article_attribute "image" as image %}
{% if image %}
<a class="article-image" href="{% thumbnail image 1500x1500 %}" data-toggle="lightbox" data-title="{{ image.name }}">
    <img alt="{{ image.name }}" src="{% thumbnail image 600x600 %}" />
</a>
{% endif %}

{% article_placeholder "content" %}

{% endblock %}
